<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
    <add key="Titulo" value=".:CAY3:." />
    <add key="Filastxt" value="7" />
    <add key="Numcar" value="16" />
    <add key="Rgalto1" value="350" />
    <add key="Rgalto2" value="480" />
    <add key="Rgalto3" value="800" />
    <add key="Rgancho1" value="680" />
    <add key="Rgancho2" value="780" />
    <add key="Rgancho3" value="880" />
    <add key="Imprimir" value="SI" />
    <add key="BajaDepre" value="NO" />
    <add key="nbase" value="ENERGY_POWER" />
    <add key="CCOUGE" value="3" />
    <add key="CUENTATRANSITORIA" value="19909001008" />
    <add key="CUENTABAJA" value="19909001008" />
    <add key="OFICINAORIGEN" value="99" />
    <add key="AREAORIGEN" value="22" />
    <!--0 SIN RELACION - 1 NIVEL 1 - 2 NIVEL 2 - 3 NIVEL 3-->
    <add key="UORCCO" value="1" />
    <!--0 SIN RELACION - 1 CENTRO DE COSTO-->
    <add key="emailTecnico" value="info@caymansystems.com" />
	  <add key="usuario_correo_logueo1" value="diego.centeno@caymansystems.com" />
	  <add key="Passw_correo_logueo1" value="dice.2023" />
    <!--REPORTES PERSONALIZADOS-->
	  <add key="ORDENN" value="UBICACION GEOGRAFICA 1 ASC, UBICACION GEOGRAFICA 2 ASC, UBICACION GEOGRAFICA 3 ASC, PISO ASC, CENTRO DE COSTO ASC, GRUPO ASC, SUBGRUPO ASC, DESCRIPCION ASC" />
	  <add key="ORDENI" value="USUARIO ASC, ID ASC" />
	  <add key="ORDENU" value="UBICACION GEOGRAFICA 1 ASC, UBICACION GEOGRAFICA 2 ASC, UBICACION GEOGRAFICA 3 ASC, PISO ASC, CENTRO DE COSTO ASC, GRUPO ASC, SUBGRUPO ASC, DESCRIPCION ASC" />
	  <add key="ORDENV" value="GRUPO ASC, SUBGRUPO ASC, DESCRIPCION ASC, MARCA ASC, MODELO ASC, AÑO ASC" />
	  <add key="AreaActivosFijosIngreso" value="MÓNICA ISABEL ESPíN GÓMEZ" />
	  <add key="DelegadoActivosFijos" value="MÓNICA ISABEL ESPíN GÓMEZ" />
	  <add key="TituloReportes" value="ENERGY POWER" />
	  <add key="CORREO_ADMINISTRADOR" value="documentos.electronicos@ruminahui.gob.ec" />
	  <add key="usuario_correo_logueo" value="documentos.electronicos" />
	  <add key="Passw_correo_logueo" value="documentos2016" />
	  <add key="SMTP" value="smtp.gmail.com" />
	  <add key="SmtPort" value="587" />
	  <add key="Ssl" value="true" />
	  <add key="destinatario1" value="mespin@energypower.ec" />
	  <add key="destinatario2" value="clomas@energypower.ec" />
  </appSettings>
  <!--CADENA DE CONEXION-->
  <connectionStrings>
    <add name="base" connectionString="Data Source=DESKTOP-2R5I0S0\MSSQLSERVER1;Initial Catalog=ENERGY_POWER;Integrated Security=False; Persist Security Info=True;User ID=sa;Password=sql_cayman2018" providerName="System.Data.SqlClient" />
    <add name="C5ALIANZAVALLE23102015Entities" connectionString="metadata=res://*/App_Code.MdlAlizanzaValle.csdl|res://*/App_Code.MdlAlizanzaValle.ssdl|res://*/App_Code.MdlAlizanzaValle.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2R5I0S0\MSSQLSERVER1;initial catalog=ENERGY_POWER;user id=sa;password=sql_cayman2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--Session Timeout define cuanto tiempo debe durar la cookie de sesión en el cliente. 
    Cada vez que el usuario navega en el sitio se guarda una cookie de sesión, para identificar 
    las solicitudes del cliente. Esto es independiente de si el usuario se autenticó o no. 
    El valor predeterminado es de 20 minutos, pero puede modificarse con el elemento system.web/sessionState 
    en el web.config:-->
    <sessionState mode="InProc" timeout="120" />
    <!--ESTRUCTURACI0N DE LA MEMBRESIA SQL ROLES-->
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="base" applicationName="/caymanactivov3" />
      </providers>
    </roleManager>
    <!--ESTRUCTURACI0N DE LA MEMBRESIA SQL USUARIOS-->
    <membership defaultProvider="SqlProvider">
      <providers>
        <add connectionStringName="base" applicationName="/caymanactivov3" name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="3" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <!--GLOBALIZACION ECUADOR para el calendar y ñ's y tildes con updatepanel fix-->
    <globalization enableClientBasedCulture="false" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="iso-8859-1" responseHeaderEncoding="utf-8" enableBestFitResponseEncoding="true" culture="en-US" uiCulture="en" />
    <!--MAXIMO VALOR EN KBITES PARA SUBIR ARCHIVOS (60 MEGAS)-->
    <httpRuntime maxRequestLength="61440" />
    <!--SITEMAP PERSONALIZADO-->
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
        <add name="XmlSiteMapProviderA" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="WebA.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <authentication mode="Forms">
      <forms name="avx" loginUrl="~/Kerberos/Login.aspx" timeout="120" />
    </authentication>
    <compilation debug="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
    </httpModules>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="20000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
      <remove name="RadCompression" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />
    </modules>
    <handlers>
      <add name="ChartImage.axd_*" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.SpellCheckHandler.axd_*" path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.DialogHandler.aspx_*" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <add name="Telerik.RadUploadProgressHandler.ashx_*" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.WebResource.axd_*" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" preCondition="integratedMode" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>