<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Telerik.ScriptManager.TelerikCdn" value="Disabled"/>
		<add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled"/>
		<add key="Titulo" value=".:CAY3:."/>
		<add key="Filastxt" value="7"/>
		<add key="Numcar" value="16"/>
		<add key="Rgalto1" value="350"/>
		<add key="Rgalto2" value="480"/>
		<add key="Rgalto3" value="560"/>
		<add key="Rgancho1" value="680"/>
		<add key="Rgancho2" value="780"/>
		<add key="Rgancho3" value="880"/>
		<add key="Imprimir" value="SI"/>
		<add key="BajaDepre" value="NO"/>
		<add key="nbase" value="C3CONFOCO"/>
		<add key="CCOUGE" value="3"/>
		<!--0 SIN RELACION - 1 NIVEL 1 - 2 NIVEL 2 - 3 NIVEL 3-->
		<add key="UORCCO" value="1"/>
		<!--0 SIN RELACION - 1 CENTRO DE COSTO-->
		<add key="emailTecnico" value="info@caymansystems.com"/>
		<!--REPORTES PERSONALIZADOS-->
		<add key="ORDENN" value="UBICACION GEOGRAFICA 1 ASC, UBICACION GEOGRAFICA 2 ASC, UBICACION GEOGRAFICA 3 ASC, PISO ASC, CENTRO DE COSTO ASC, GRUPO ASC, SUBGRUPO ASC, DESCRIPCION ASC"/>
		<add key="ORDENI" value="USUARIO ASC, ID ASC"/>
		<add key="ORDENU" value="UBICACION GEOGRAFICA 1 ASC, UBICACION GEOGRAFICA 2 ASC, UBICACION GEOGRAFICA 3 ASC, PISO ASC, CENTRO DE COSTO ASC, GRUPO ASC, SUBGRUPO ASC, DESCRIPCION ASC"/>
		<add key="ORDENV" value="GRUPO ASC, SUBGRUPO ASC, DESCRIPCION ASC, MARCA ASC, MODELO ASC, AÑO ASC"/>
	</appSettings>
	<!--CADENA DE CONEXION-->
	<connectionStrings>
		<add name="base" connectionString="Data Source=CAYDES01\SQLXPRESS;Initial Catalog=C3CONFOCO;Integrated Security=False; Persist Security Info=True;User ID=sa;Password=sql_avaluac09" providerName="System.Data.SqlClient"/>
		<!--<add name="base" connectionString="Data Source=GRPC;Initial Catalog=C3CONFOCO;Integrated Security=False; Persist Security Info=True;User ID=sa;Password=sql_avaluac09" providerName="System.Data.SqlClient"/>-->
		<!--<add name="base" connectionString="Data Source=CAYDES01\SQLXPRESS;Initial Catalog=C3CONFOCO;Integrated Security=False; Persist Security Info=True;User ID=sa;Password=sql_avaluac09" providerName="System.Data.SqlClient"/>-->
		<!--<add name="base" connectionString="Data Source=GRPC;Initial Catalog=C3CONFOCO;Integrated Security=False; Persist Security Info=True;User ID=sa;Password=sql_avaluac09" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web>
		<!--Session Timeout define cuanto tiempo debe durar la cookie de sesión en el cliente. 
		Cada vez que el usuario navega en el sitio se guarda una cookie de sesión, para identificar 
		las solicitudes del cliente. Esto es independiente de si el usuario se autenticó o no. 
		El valor predeterminado es de 20 minutos, pero puede modificarse con el elemento system.web/sessionState 
		en el web.config:-->
		<sessionState mode="InProc" timeout="120"/>
		<!--ESTRUCTURACI0N DE LA MEMBRESIA SQL ROLES-->
		<roleManager enabled="true" defaultProvider="SqlRoleProvider">
			<providers>
				<add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="base" applicationName="/caymanactivov3"/>
			</providers>
		</roleManager>
		<!--ESTRUCTURACI0N DE LA MEMBRESIA SQL USUARIOS-->
		<membership defaultProvider="SqlProvider">
			<providers>
				<add connectionStringName="base" applicationName="/caymanactivov3" name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
			</providers>
		</membership>
		<!--GLOBALIZACION ECUADOR para el calendar y ñ's y tildes con updatepanel fix-->
		<globalization enableClientBasedCulture="false" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="iso-8859-1" responseHeaderEncoding="utf-8" enableBestFitResponseEncoding="true" culture="es-EC" uiCulture="es"/>
		<!--MAXIMO VALOR EN KBITES PARA SUBIR ARCHIVOS (60 MEGAS)-->
		<httpRuntime maxRequestLength="61440"/>
		<!--SITEMAP PERSONALIZADO-->
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
				<add name="XmlSiteMapProviderA" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="WebA.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
		<authentication mode="Forms">
			<forms name="avx" loginUrl="~/Kerberos/Login.aspx" timeout="120"/>
		</authentication>
		<compilation debug="false" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/></assemblies>
			<buildProviders>
				<add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
			</buildProviders>
		</compilation>
		<pages>
			<controls>
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
			</controls>
		</pages>
		<httpHandlers>
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression"/>
		</httpModules>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="20000000"></jsonSerialization>
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="RadUploadModule"/>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode"/>
			<remove name="RadCompression"/>
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode"/>
		</modules>
		<handlers>
			<add name="ChartImage.axd_*" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
			<add name="Telerik.Web.UI.SpellCheckHandler.axd_*" path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
			<add name="Telerik.Web.UI.DialogHandler.aspx_*" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
			<add name="Telerik.RadUploadProgressHandler.ashx_*" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode"/>
			<add name="Telerik.Web.UI.WebResource.axd_*" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" preCondition="integratedMode"/>
		</handlers>
		<defaultDocument>
			<files>
				<clear/>
				<add value="Default.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
